.user_session_nav
  - if user_signed_in?
    = "Signed in as #{current_user.email}. Not you?"
    %span.user_session_links
      = link_to 'Sign out', destroy_user_session_path, :method => :delete
  - else
    %span.user_session_links
      = link_to 'Sign up! ', new_user_registration_path
    = 'Or'
    %span.user_session_links
      = link_to 'Sign in', new_user_session_path
