- if user_signed_in?
  = link_to 'Add your own event', new_event_path
- @events.each do |event|
  .event_list_div
    .event_info_box
      = link_to event.name.humanize, event_path(event)
      %p
        = event.description
      = link_to 'share on facebook'
      |
      = link_to 'tweet this event'
    .event_image_box
      = image_tag('rails.png')

