.sign_in_form{:style => "margin: 20px;"}
  %h2 Sign in
  %br
  = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
    %table
      %tr
        %td{:style => "padding: 10px;"}
          = f.label :email
        %td{:style => "padding: 10px;"}
          = f.email_field :email, :autofocus => true
      %tr
        %td{:style => "padding: 10px;"}
          = f.label :password
        %td{:style => "padding: 10px;"}
          = f.password_field :password
    %br
    - if devise_mapping.rememberable?
      %div
        = f.check_box :remember_me
        = f.label :remember_me
    %br
    %div= f.submit "Sign in"
  %br
  = render "devise/shared/links"
