!!!
= stylesheet_link_tag :top_header
= stylesheet_link_tag :left_pane
= stylesheet_link_tag :right_pane
= stylesheet_link_tag :events
= stylesheet_link_tag :normalize
= stylesheet_link_tag "application", :media => "all"
= stylesheet_link_tag "jquery-ui"
= javascript_include_tag "application"
= javascript_include_tag "jquery-ui-timepicker"
%html
  = csrf_meta_tags
  %head
    %title
      = t(:yaeo_title)
  %body
    %p.notice
      = notice
    %p.alert
      = alert
    .top_header
      = render :partial => events_top_header_path
    .left_pane
      = render :partial => events_left_pane_path
    .center_pane
      = yield
    .right_pane
      = render :partial => events_right_pane_path
