!!!
%html
  = csrf_meta_tags
  %head
    = stylesheet_link_tag :normalize, :jquery_ui, :application, :top_header, :left_pane, :right_pane, :events
    = javascript_include_tag :jquery, :jquery_ui, :jquery_ui_timepicker, :application
    %title
      = t(:yaeo_title)
  %body
    %p.notice
      = notice
    %p.alert
      = alert
    .top_header
      = render :partial => events_top_header_path
    .left_pane
      = render :partial => events_left_pane_path
    .center_pane
      = yield
    .right_pane
      = render :partial => events_right_pane_path
