!!!
= stylesheet_link_tag :top_header
= stylesheet_link_tag :left_pane
= stylesheet_link_tag :right_pane
= stylesheet_link_tag :events
= stylesheet_link_tag :normalize
= stylesheet_link_tag    "application", :media => "all"
= javascript_include_tag "application"
%html{:style => 'background-color: black; color: white;'}
  = csrf_meta_tags
  %head
    %title
      = 'Yet another event organizer'
  %body
    %p.notice
      = notice
    %p.alert
      = alert
    .top_header
      = render :partial => 'events/top_header'
    .left_pane
      = render :partial => 'events/left_pane'
    .center_pane
      = yield
    .right_pane
      = render :partial => 'events/right_pane'
