!!!
%html{:style => 'background-color: black; color: white;'}
  = stylesheet_link_tag    "application", :media => "all"
  = javascript_include_tag "application"
  %head
    %title
      = 'Yet another event organizer'
    = csrf_meta_tags
  %body
    .left_pane
      = render :partial => 'events/left_pane'
    .center_pane
      = yield
    .right_pane
      = render :partial => 'events/right_pane'
